<h3>CATEGORY</h3>
<div class="mb50">
  <form>
    <div class="mb-3">
      <label for="exampleInputText122" class="form-label">Name</label>
      <input type="text" class="form-control" id="exampleInputText122" aria-describedby="textHelp"
        [(ngModel)]="categoryObj.name1" [ngModelOptions]="{standalone: true}">
      <div id="textlHelp" class="form-text">We'll never share your name with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Discription</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        [(ngModel)]="categoryObj.discription" [ngModelOptions]="{standalone: true}">
      <div id="emailHelp" class="form-text">We'll never share your Discription with anyone else.</div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSignUp()" routerLink="/duration">Submit</button>
  </form>
</div>

<table class="table container">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Discription</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categoryData10;">
      <td>{{category.id}}</td>
      <td>{{category.name1}}</td>
      <td>{{category.discription}}</td>
      <td><button class="btn bg-danger" (click)="onDelete(category)"
          style="margin-right: 10px; color: white;">Delete</button>
        <button class="btn bg-primary" (click)="onEdit(category)" style="color: white;">Edit</button>
      </td>
    </tr>
  </tbody>
</table>